@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --gradient-blue: #5A77FF;
    --gradient-pink: #BC7198;
    --gradient-yellow: #FFC593;

    body {
        @apply dark:bg-black bg-gray-200;
    }
    p {
        @apply text-[15px] leading-[25px] font-normal;
    }
}